@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#home{
  background-image: url('./assets/images/scott-graham-5fNmWej4tAA-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width:991px) {
  #about-us-scene {
    background-image: url('./assets/images/two-content-business-partners-discussing-issue.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width:767px) {
  #about-us-scene > .container > .absolute {
    top: 40%;
  }
  
}

@media (max-width : 575px) {
  .img-laptop , .img-circle , .img-laugh{
    width: 100px !important;
    height: 100px !important;
  }
  .img-discuss{
    width: 150px !important;
  }
}

@media (min-height:801px) {
  #smart-meetings > div .relative , #leadership > div  div , #training > div > div {
    margin-top: 20%;
  }
}
